{
  "presets": [
    ["@babel/preset-env", { "modules": false }], 
   ],
   "plugins": ["@vue/babel-plugin-jsx"]
   // "env": {
  //   "build": {
  //     "plugins": ["external-helpers"]
  //   }
  // }
}
