{
  "presets": [
    ["@babel/preset-env", { "modules": false }], 
    ["@vue/babel-preset-jsx", {"injectH": false}]
  ]
   // "env": {
  //   "build": {
  //     "plugins": ["external-helpers"]
  //   }
  // }
}
