.__vuescroll {
  position: relative;
  overflow: hidden;

  .__panel {
    box-sizing: border-box;
    position: relative;
    &.__hidebar::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &.__native {
      height: 100%;
    }
    &.__slide {
      transform-origin: left top 0px;
      user-select: none;
      min-width: 100%;
      min-height: 100%;
    }
    &.__pure-native {
      width: 100%;
      height: 100%;
    }
  }

  .__view {
    position: relative;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;
  }

  .__rail-is-vertical,
  .__rail-is-horizontal {
    position: absolute;
    z-index: 1;
  }

  .__bar-is-vertical,
  .__bar-is-horizontal {
    cursor: pointer;
    position: relative;
    transition: opacity 0.5s;
    user-select: none;
    border-radius: inherit;
  }

  .__rail-is-vertical {
    right: 2px;
    .__bar-is-vertical {
      top: 0;
      width: 100%;
    }
  }

  .__rail-is-horizontal {
    bottom: 2px;
    .__bar-is-horizontal {
      left: 0;
      height: 100%;
    }
  }

  .__refresh,
  .__load {
    position: absolute;
    width: 100%;
    color: black;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    svg {
      margin-right: 10px;
      width: 25px;
      height: 25px;
      vertical-align: sub;
      path,
      rect {
        fill: #20a0ff;
      }
      &.start {
        stroke: #343640;
        stroke-width: 4;
        stroke-linecap: round;
        -webkit-animation: loading-rotate 2s linear infinite;
        animation: loading-rotate 2s linear infinite;
        .bg-path {
          stroke: #f2f2f2;
          fill: none;
        }
        .active-path {
          stroke: #20a0ff;
          fill: none;
          stroke-dasharray: 90, 150;
          stroke-dashoffset: 0;
          -webkit-animation: loading-wipe 1.5s ease-in-out infinite;
          animation: loading-wipe 1.5s ease-in-out infinite;
        }
      }
    }
  }
  .__none {
    display: none;
  }
  @-webkit-keyframes loading-rotate {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @keyframes loading-rotate {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes loading-wipe {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40px;
    }
    to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120px;
    }
  }

  @keyframes loading-wipe {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40px;
    }
    to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120px;
    }
  }
}
