.__vuescroll {
  .__panel {
    &.__hide-ios-bar {
      padding-right: 10px;
      padding-bottom: 10px;
      width: calc(100% + 10px) !important;
      height: calc(100% + 10px) !important;
    }

    &.__hidebar::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .__refresh,
  .__load {
    position: absolute;
    width: 100%;
    color: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    svg {
      &.active {
        transition: all 0.2s;
        &.deactive {
          transform: rotateZ(180deg);
        }
      }
      margin-right: 10px;
      width: 25px;
      height: 25px;
      vertical-align: sub;
      path,
      rect {
        fill: #20a0ff;
      }
      &.start {
        stroke: #343640;
        stroke-width: 4;
        stroke-linecap: round;
        -webkit-animation: loading-rotate 2s linear infinite;
        animation: loading-rotate 2s linear infinite;
        .bg-path {
          stroke: #f2f2f2;
          fill: none;
        }
        .active-path {
          stroke: #20a0ff;
          fill: none;
          stroke-dasharray: 90, 150;
          stroke-dashoffset: 0;
          -webkit-animation: loading-wipe 1.5s ease-in-out infinite;
          animation: loading-wipe 1.5s ease-in-out infinite;
        }
      }
    }
  }
  .__none {
    visibility: hidden;
  }
  @-webkit-keyframes loading-rotate {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @keyframes loading-rotate {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes loading-wipe {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40px;
    }
    to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120px;
    }
  }

  @keyframes loading-wipe {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40px;
    }
    to {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120px;
    }
  }
}
