<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
    <script src="../dist/vuescroll.js"></script>
    <style>
    html, body {
        height: 90%;
    }
    #app {
        width: 100%;
        height: 100%;
    }
    #operateArea {
        float: left;
        margin-left: 10px;;
    }
    #parent {
        float: left;
        width: 800px;
        height: 100%;
    }
    .content {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 10px;
        transition:all 2s;
        opacity: 0.8;
    }
    .vuescroll-panel {
        white-space: nowrap;
    }
    </style>
</head>
<body>
    <div id="app" >
 
        <div id="parent">
          <!-- bind your own options in data -->
          <vue-scroll 
          :ops="ops"
           ref="vs"
           @refresh-activate="refreshActivate"
           @refresh-before-deactivate="refreshBeforeDeactivate"
           @refresh-deactivate="refreshDeactivate"
            @refresh-start="refreshStart"
            @load-activate="loadActivate"
            @load-before-deactivate="loadBeforeDeactivate"
           @load-deactivate="loadDeactivate"
            @load-start="loadStart"
            @handle-scroll-complete="handleComplete"
           >
           <template
           v-for= "(item, index) in randomArray"
           >
            <div 
            class="content"
            :key="index"
            :style="{backgroundColor: item}"
            :id="'d' + (index + 1)"
            >
            <span>{{index+1 + '.' + item}}</span>
            </div>
            <br 
            v-if="(index+1) % 8 == 0"
            />
           </template>
          </vue-scroll>
        </div>
        <div id="operateArea">
            <fieldset>
                <legend>operation</legend>
                <fieldset>
                    <legend>common</legend>
                    mode: <br>
                    native: <input 
                    type="radio" 
                    value="native"
                    v-model="ops.vuescroll.mode"
                    >
                    slide: <input 
                    type="radio" 
                    value="slide"
                    v-model="ops.vuescroll.mode"
                    >
                    pure-native: <input 
                    type="radio" 
                    value="pure-native"
                    v-model="ops.vuescroll.mode"
                    >
                    <br>speed: <br>
                    <input type="number"
                    v-model="ops.scrollPanel.speed"
                    min="100"
                    max="5000"
                    >
                    <br>scrollingX: <br>
                    true: <input 
                    type="radio" 
                    :value="true"
                    v-model="ops.scrollPanel.scrollingX"
                    >
                    false: <input 
                    type="radio" 
                    :value="false"
                    v-model="ops.scrollPanel.scrollingX"
                    >
                    <br>scrollingY: <br>
                    true: <input 
                    type="radio" 
                    :value="true"
                    v-model="ops.scrollPanel.scrollingY"
                    >
                    false: <input 
                    type="radio" 
                    :value="false"
                    v-model="ops.scrollPanel.scrollingY"
                    >
                    <br>zooming: <br>
                    true: <input 
                    type="radio" 
                    :value="true"
                    v-model="ops.vuescroll.zooming"
                    >
                    false: <input 
                    type="radio" 
                    :value="false"
                    v-model="ops.vuescroll.zooming"
                    ><br>
                    scrollBy:<br>
                    dx:<input type="text" v-model="dx"><br>
                    dy:<input type="text" v-model="dy"><br />
                   
                    <button @click="scrollBy">go</button>
                </fieldset>
                <fieldset>
                    <legend>slide-mode</legend>
                    refresh: <br>
                    enable: <input 
                    type="radio" 
                    :value="true"
                    v-model="ops.vuescroll.pullRefresh.enable"
                    >
                    disable: <input 
                    type="radio" 
                    :value="false"
                    v-model="ops.vuescroll.pullRefresh.enable"
                    >
                    <br>load: <br>
                    enable: <input 
                    type="radio" 
                    :value="true"
                    v-model="ops.vuescroll.pushLoad.enable"
                    >
                    disable: <input 
                    type="radio" 
                    :value="false"
                    v-model="ops.vuescroll.pushLoad.enable"
                    >
                </fieldset>
                <fieldset>
                    <legend>native-mode</legend>
                    animate: <br>
                    <select 
                    v-model="ops.scrollPanel.easing"
                    >
                        <option
                        v-for="easing in easings"
                        :value="easing"
                        >
                            {{easing}}
                        </option>
                    </select>
                </fieldset>
            </fieldset>
        </div>
      </div>
    <script>
        Vue.prototype.$vuescrollConfig = {
            hBar: {
                height: '5px',
                pos: 'bottom',
                background: 'red',
                keepShow: false,
                opacity: 1,
                hover: false
            }
        }
    var easings = [
    'easeInQuad',
    'easeOutQuad',
    'easeInOutQuad',
    'easeInCubic',
    'easeOutCubic',
    'easeInOutCubic',
    'easeInQuart',
    'easeOutQuart',
    'easeInOutQuart',
    'easeInQuint',
    'easeOutQuint',
    'easeInOutQuint'
    ]
    var vm = new Vue({
        el: "#app",
        data: {
            ops: {
              vuescroll: {
                mode: "native",
                pullRefresh: {
                    tips: {
                        beforeDeactive: "Refresh Successfully!"
                    },
                    enable: false
                },
                pushLoad: {
                    tips: {
                        beforeDeactive: "Load Successfully!"
                    },
                    enable: false
                },
                paging: false,
                zooming: false
              },
              scrollPanel: {
                easing: "easeInQuad",
                speed: 300,
                scrollingX: true,
                scrollingY: true
              },
              bar: {
                vBar: {
                  background: "#000"
                },
                hBar: {
                    background: "#000"
                }
              }
            },
            dataNums: 120,
            reRender: 1,
            easings,
            dx: 0,
            dy: 0
        },
        computed: {
            randomArray() {
                function getRandom() {
                    let str = "#";
                    for(let i = 0; i < 6; i++) {
                        str += Math.floor(Math.random() * 16).toString(16);
                    }
                    return str;
                }
                return this.reRender && Array.apply(null, {
                    length: this.dataNums
                }).map(item => {
                    return getRandom();
                })
            }
        },
        methods: {
            getCurrentviewDom() {
                console.log(this.$refs['vs'].getCurrentviewDom());
            },
            handleComplete(v, h) {
                console.log(v, h);
            },
            refresh() {
                this.reRender ++;
            },
            refreshActivate(vm, refreshDom) {
                console.log(vm, refreshDom, 'refreshActive');
            },
            refreshBeforeDeactivate(vm, refreshDom, done) {
                console.log(vm, refreshDom, 'refreshBeforeDeactive');
                setTimeout(() => {
                    done();
                }, 500)
            },
            refreshDeactivate(vm, refreshDom) {
                console.log(vm, refreshDom, 'refreshDeactive');
            },
            refreshStart(vm, dom, done) {
                setTimeout(() => {
                    this.reRender ++;
                    done();
                }, 2000);
            },
            loadActivate(vm, loadDom) {
                console.log(vm, loadDom, 'loadActive');
            },
            loadBeforeDeactivate(vm, loadDom, done) {
                console.log(vm, loadDom, 'loadBeforeDeactive');
                setTimeout(() => {
                    if(this.add) {
                        this.dataNums += 100;
                    }
                    done();
                }, 500)
            },
            loadDeactivate(vm, loadDom) {
                console.log(vm, loadDom, 'loadDeactive');
            },
            loadStart(vm, dom, done) {
                setTimeout(() => {
                    done();
                    if(Math.random() < 0.5) {
                        this.add = true;
                        this.ops.vuescroll.pushLoad.tips.beforeDeactive = "load successfully!";
                    } else {
                        this.add = false;
                        this.ops.vuescroll.pushLoad.tips.beforeDeactive = "no more data!";
                    }
                }, 2000);
            },
            scrollBy() {
                this.$refs['vs'].scrollBy({
                    dx: this.dx,
                    dy: this.dy
                })
            }
        }
    })
    </script>
</body>
</html>